.notchNavBar {
    position: fixed;
    bottom: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    padding: .7em 3em;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    
}
.notchNavBar span{
    color: grey;
}
.notchNavBar span.active{
    transition: all .4s ease;
    color: #000000;
}
.notchNavBar *:not(:has(span.active)) svg {
    stroke: grey;
}
.notchNavBar *:has(span.active){
    margin-bottom: .27rem;
}
.transform-m-e{
    transform: rotate(90deg);
}
.notchNavBar .notAligned {
  position: relative;
}

.notchNavBar .notAligned .indicator {
  position: absolute;
  top: 0;
  left: 1em;
  width: 5px;
  height: 5px;
  background: red;
  border-radius: 50%;
  display: none;
}

.notchNavBar .notAligned.has-indicator .indicator {
  display: block;
}